@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-input {
    height: 100%;
    background-color: inherit;
    padding-left: 10px;
    width: 100%;
}

.main-input:focus {
    outline: none;
}

.settings-input {
    height: 70%;
    padding-left: 10px;
    width: 100%;
    border-radius: 15px;
}

.dropdown-box {
    height: 70%;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input:focus {
    outline: none;
}

.input-container {
    @apply w-full  overflow-hidden flex items-center gap-2 bg-gray-300;
    height: 60px;
    border-radius: 10px;
}

.input-container-big {
    @apply w-full overflow-hidden  items-center bg-gray-300; 
    border-radius: 10px;
}

.image-container {
    @apply w-full border  border-gray-400 mt-4;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiDivider-root {
    background-color: grey !important;
}

.image-box {
    width: 320px;
    height: 440px;
}

.look-box {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.global-mage-box {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.errorInput {
    border: 1px solid red;
}